# The database need not be updated.
/DATABASE/*
/io/*

# The schedular need not be included
/Scheduler/*
/war/*

# Things explicitly not to include
not_in_git/*
/code/testing/*
/TESTGROUNDS/*

# PyCharm directories
**/__pycache__/*
.idea/*

# Files nobody else wants
.DS_Store
*~
\#*#
*.command
