# The database need not be updated.
/DATABASE/*
/io/*

# The schedular need not be included
/Scheduler/

# Things explicitly not to include
not_in_git/*

# PyCharm directories
**/__pycache__/*
.idea/*

# Files nobody else wants
.DS_Store
*~
\#*#
*.command
