# No program output should be included.
/DATABASE/*
/DATABASE*/*
/*.schedb


# The Scheduler is not being worked on here.
# Maybe remove this from .gitignore entirely.
/Scheduler/*
/war/*
war.zip


# Private files.
/testing/*
/pwfile.txt


# Prefix for extraneous local files.
/x_*/*


# PyCharm directories
**/__pycache__/*
.idea/*


# OS/editor files that nobody wants.
.DS_Store
*~
\#*#
*.command

